<div class="portfolio">
    <div class="portfolio-headings">
        <h2>Mi Portfolio</h2>  
        <div class="divider"></div>  
    </div>
  
    <div class="container">
        <div class="card">
            <div class="card__img">
            </div>
            <div class="card__title">
                <h2>Experiencias Laborales</h2>
            </div>
            <div class="card__projects-links">
                <a href=" https://www.instagram.com/invites/contact/?i=tja9wnw6scnc&utm_content=4azqqid" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="proyect-details-content">
            <button class="projects-details download-cv">
                <a href="">
                    Detalle de Experiencias
                </a>
            </button>
            </div>
        </div>
    </div>
  </div>
