<div class="about">
    <img src="./assets/img/mundo.jpeg" width="400px" alt="Nicolas Sanchez">
  
    <div class="about-info">
    <h2>About me</h2>
        <div class="divider"></div>
    <p>Me recibí de profesor de Eduacion Física en el año 2002. Siempre me dediqué al entrenamiento deportivo.</p>
    <p>Observé después de muchos años que faltaba algo muy importante en los entrenamientos y planificaciones deportivas. Programas yu aplicaciones que ayuden a la evolución de los alumnos/equipos, y al entrenamiento en si mismo</p>
    <p>Hoy en día busco poder capicitarme de una manera amplia y óptima para poder programar aplicaciones enfocadas a la salud, entrenamiento, equipos, planificaciones</p>
           
        
  <div class="accordion" id="accordionExample">
            
  <div class="accordion-item">
  <h2 class="accordion-header" id="headingOne">
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  Leer más
  </button>
  </h2>
  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
  <div class="accordion-body">
    En el 2021 comnecé a realizar un curso de programcion muy básico, el cual me entusiasmó bastante para lo que decidí seguir incursionando en la programación.
    ahora estoy cursando una capacitación mas detallada. Viendo HTML, CSS, JavaScript, Angular, Java, Back End.
    </div>
  </div>
  </div>                
  <div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Leer un poco más
  </button>
  </h2>
  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
  <div class="accordion-body">
    Soy una pesona que esta en busca siempre de poder aprender cosas nuevas para aplicarlas tanto en la rama laboral como personal. 
    Mi idea es seguir capacitandome para llegar a insertanme en el mundo de la programación.
    Adquirir experiecias de todo tipo para ir absoriendo la mayor cantidad de habilidades que hay en este mundo de la programación.
  </div>
  </div>
  </div>
  </div>
        
  </div>
  </div>
