<div class="wrapper">
    <header>
        <nav class="navbar">
            <div class="brand">
            <h2>N<span>S</span></h2>
            </div>
            <ul class="menu">
                <li><a class="activo" href="#">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="info">
            <h1>Soy <span>Nicolás </span>Sánchez</h1>
            <p>Estoy bucando nuevos rumbos y experiecias en mi vida personal y profesional. Por eso he desembarcado en algo que siempre me gustó aparte de ser Profesor de Educación Física y es el mundo de la programación.</p>
            <p>Me comprometí a empezar a interiorizarme en el mundo del programador para poder crear un proyecto a futuro en el cual pueda verme como un profesional altamente capacitado que cumpla con sus objetivos tanto de mi vida personal como laborales dando lo mejor de mi.</p>
            
        </div>
        <img src="/assets/img/Nico.png" alt="Foto de Nicolas Sanchez">
    </main>
  </div>
