<div class="contact-section">
    <div class="contact-heading">
        <h2>Contáctame</h2>
        <div class="divider"></div>
    </div>
    <div class="container-contact">
        <img src="./assets/img/Logotransparente.png" width="200px" alt="Nico Sanchez Entrenamiento">
        <div class="contact-form">
            <h4>Mandame un mensaje...</h4>
            <form class="form">
                <input type="text" placeholder="Name" class="input">
                <input type="email" placeholder="Email" class="input">
                <textarea name="message" placeholder="Escribe tu mensaje acá..."></textarea>
                <button type="submit" class="btn-submit">Escribeme</button>  
            </form>
        </div>    
    </div>
  </div>
